extends ../layout

block content 
    link(rel="stylesheet", href="")
    script(src="")
    div.detail
        div.image
            if MEMO.m_image_name 
                img(src=`/uploads/${MEMO.m_image_name}`, alt=`${MEMO.m_iamge_origin_name}`)
        div 
            h2 #{MEMO.m_seq} 메모 자세히보기
            p= MEMO.m_seq 
    table.detail.list
        tr 
            th 작성자
            th 작성일자
            th 작성시각
            th 메모내용
            each item in MEMO 
                tr 
                    td= item.author 
                    td= item.date 
                    td= item.time 
                    td= item.memo 
    div
        button.btn_updata(data-num=`${MEMO.m_seq}`) 수정
        button.btn_delete(data-num=`${MEMO.m_seq}`) 삭제
