extends ../layout

block content 
    link(rel="stylesheet", href="/css/memo.css")
    script(src="/js/memo.js")

    form.search.memo
        button.btn_update(data-num=`${MEMO.m_seq}`) 수정
        button.btn_delete(data-num=`${MEMO.m_seq}`) 삭제
    table.list.memo
        tr 
            th 일련번호
                span.m_seq
            th 작성자
                span.m_author 
            th 작성일자
                span.m_date
            th 작성시각
                span.m_time 
            th 메모내용
                span.m_memo 
            th 이미지파일
                span.m_image 
        each item in MEMO 
            tr(data-mseq=`${item.m_seq}`)
                td= item.m_seq
                td= item.m_author 
                td= item.m_date 
                td= item.m_time 
                td= item.m_memo 
                td= item._m_image 