extends ../layout

block content 
    link(rel="stylesheet", href="/css/update.css")
    script(src="/js/update.js")
    h1 수정
    if PRODUCT
        div.fix
            div
                span 상품코드
                input(value=`${PRODUCT.p_code}`)
            div 
                span 상품이름
                input(value=`${PRODUCT.p_name}`)
            div 
                span 품목
                input(value="")
            div 
                span 규격
                input(value="")
            div 
                span 매입단가
                input(value=`${PRODUCT.p_iprice}`)
            div 
                span 매출단가
                input(value=`${PRODUCT.p_oprice}`)
            div.btn_box
                input(type="button",value="수정하기")
                input(type="button",value="취소",data-p_code = `${PRODUCT.p_code}`)

        